/* 中間サイズの画面 */
@media (576px <=width <= 768px ) {
    .top-image {
        width: 100%;
        height: auto;
    }
   
    /* .taiko-gplay {
        width: 80%;
        height: auto;
    }
    
    .taiko-image {
        width: 80%;
        height: auto;
    } */
    
    
}


@media (width <= 576px) {
    .top-image {
        width: 50%;
        height: auto;
    }


}


@media (width <=576px) {
    .top-image {
        width: 50%;
        height: auto;
    }


}


/* @media (min-width: 576px) and (max-width: 768px) {
    .taiko-gplay {
        width: 120%;
    }
    
    .taiko-image {
        width: 120%;
        height: auto;
    }
} */



.x_account {
    max-width: 15em;
    border: solid 3px #ffffff;
}



.lantern {
    position: relative;
    z-index: 0;
}

.lantern:before {
    content: '';
    background-image: url(img/taiko/29530777_s.jpg);
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    filter: blur(5px);
    z-index: -1;
}

